body {
    /* background-color: #2596be !important;*/
    background-color: #28036a !important;
    color: white;
    padding-top: 5%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}
.container {
    margin: "0 auto";
    max-width: 400px !important;
    text-align: center;
    margin-bottom: 5px;
}
/* #input {
    margin-bottom: 5px;
} */
#panel {
    margin-top: 5px;
    color: black;
    padding: 20px;
    padding-top: 10px;
}
#btnEliminar {
    font-weight: bold;
}
/* .button {
    margin: 10px;
} */
